.Proj1 {
    text-align:left;
    list-style: disc;
    padding-left:20%;
}

.Proj2 {
    text-align:right;
    list-style: disc;
    padding-right:20%;
}

.Proj3 {
    text-align:left;
    list-style: disc;
    padding-left:20%;
}